name: Build and Deploy

on:
  push:
    branches:
      - master

jobs:
  continuous-integration:
    runs-on: ubuntu-latest
    environment:
      name: continuous-integration
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - name: Install Packages
        run:  |
          sudo gem install --no-document fpm
          sudo apt-get install -y debsigs gpg
      - name: Build Package
        run:  |
          ./build.sh
      - name: Sign Packages
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
        run:  |
          ./import-key.sh
          ./sign.sh
          ./clear-agent.sh
